<!-- 데이터를 출력해 줄 페이지 (sub1.ejs랑 같은 용도)-->
<div class="bekseju w1188">
    <h1 class="w1188"><span>백세주</span> 메뉴</h1>
    <figure id="bekseju_fig">
      <% rows.forEach((row,index)=>{  %>
        <% let price =  row.price.toLocaleString();  %>

        <div>
      <img src="<%= row.img %>" class="bekseju_img">
      <!-- <div><%= row.img %></div> -->
      <figcaption>
        <h4><%= row.bekseju_name %></h4>
        <p><%= price %></p>
      </figcaption>
      <div class="bekseju_INP">
      <input type="button"  value="수정" onclick="javascript:location.href='/bekseju_upDate?id=<%= row.id %>'">
      <input type="button"  value="삭제" onclick="javascript:location.href='/bekseju_delete?id=<%= row.id %>'">
    </div>
  </div>
      <% }); %>
    </figure>
    <div class="bekseju_wBtn_wrap">
        <input type="button"  value="작성"  class="bekseju_wBtn" onclick="javascript:location.href='/beksejuWrite'">
    </div>

  </div>
